body, html { height: 100%; }

body {
    background: #F9F9F9;
	background-image:url("../images/square_bg.jpg");
	background-repeat:repeat;
	color: #222; font-family: 'Droid Serif', serif; font-size: 16px;
}

a { color: #65cbf8; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

.header { background: url(images/header.png) repeat-x 0 0; height: 58px; padding: 29px 0 0 0;  }