body, html { height: 100%; }

body {
    background: #F9F9F9;
	background-image:url("../images/square_bg.jpg");
	background-repeat:repeat;
	color: #222; font-family: 'Droid Serif', serif; font-size: 16px;
}

a { 
	outline: 0; 
	color: #222; 
	text-decoration: none; 
}
a:hover { 
	text-decoration: underline; 
}
p a:hover { 
	color: #27B3CF; 
}
a:active { 
	outline: none; 
	position: relative; 
	top: 2px; 
}

.header { background: url(images/header.png) repeat-x 0 0; height: 58px; padding: 29px 0 0 0;  }