body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    color: #808080;
    background: #efefef url(images/body.png) repeat-x 0 0;
    min-width: 950px;
}

a { color: #65cbf8; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

.header { background: url(images/header.png) repeat-x 0 0; height: 58px; padding: 29px 0 0 0;  }